.main-top {
  background-color: #222935;
  height: auto;
  color: #b6bad3;
  font-family: 'Ubuntu', sans-serif;
}
.main-top img {
  padding-top: 7px;
  transition: 1.5s;
  cursor: pointer;
  padding-left: 10px;
}
.main-top img:hover {
  transform: rotate(1080deg);
}
.main-top h1 {
  padding: 5px 15px;
  cursor: pointer;
}
.main-top h1:hover {
  color: #efad57;
  transform: scale(0.9, 0.9);
}
.main-top ul {
  margin-left: 252px;
  margin-bottom: 0px;
}
.main-top ul .orange:hover {
  background-color: #efad57;
  box-shadow: 10px 20px 40px 1px rgba(0, 0, 0, 0.5);
}
.main-top ul .green:hover {
  background-color: #80ca9e;
  box-shadow: 10px 20px 40px 1px rgba(0, 0, 0, 0.5);
}
.main-top ul .yellow:hover {
  background-color: #d0d946;
  box-shadow: 10px 20px 40px 1px rgba(0, 0, 0, 0.5);
}
.main-top ul .purple:hover {
  background-color: #a851ad;
  box-shadow: 10px 20px 40px 1px rgba(0, 0, 0, 0.5);
}
.main-top ul .blue:hover {
  background-color: #72c3e1;
  box-shadow: 10px 20px 40px 1px rgba(0, 0, 0, 0.5);
}
.main-top ul .red:hover {
  background-color: #da3838;
  box-shadow: 10px 20px 40px 1px rgba(0, 0, 0, 0.5);
}
.main-top ul li {
  cursor: pointer;
  margin-left: -5px;
  height: 90px;
  width: 90px;
  display: inline-block;
  transition: 1s;
  padding-bottom: 0px;
}
.main-top ul li:hover {
  color: black;
}
.main-top ul li a {
  text-decoration: none;
  color: #b6bad3;
}
.main-top ul li hr {
  margin-top: 34px;
}
.main-top ul li p {
  margin-top: 35px;
  font-size: 14px;
  font-weight: bold;
}
.social-network {
  background-color: #131a20;
  height: auto;
}
.social-network ul {
  margin: 10px;
  color: #b6bad3;
}
.social-network ul li {
  display: inline-block;
  margin: 15px 20px;
  border: 1px solid #99989e;
  background: rgba(153, 180, 187, 0.2);
  border-radius: 13px;
}
.social-network ul li .fa-film:hover {
  color: #80ca9e;
}
.social-network ul li .fa-rss-square:hover {
  color: #efad57;
}
.social-network ul li .fa-bar-chart:hover {
  color: #d0d946;
}
.social-network ul li .fa-cc:hover {
  color: #a851ad;
}
.social-network ul li .fa-ban:hover {
  color: #da3838;
}
.social-network ul li .fa {
  padding: 12px 15px;
  border-radius: 9px;
  color: #e9f0f2;
}
.social-network ul li .fa:hover {
  cursor: pointer;
}
.popular-films {
  background-color: #2d273f;
  height: auto;
  padding-top: 30px;
  padding-bottom: 70px;
}
.popular-films span {
  border: 2px solid;
  color: #985cb2;
  background-color: #985cb2;
  width: 15px;
  height: 30px;
  text-shadow: none;
  margin-right: 5px;
}
.popular-films h1 {
  color: #b6bdda;
  padding-bottom: 20px;
  padding-left: 5px;
  font-size: 24px;
  font-weight: bolder;
  text-shadow: 1px 1px 2px black;
}
.new-trailer {
  background-color: #131a20;
  height: 500px;
}
@media (max-width: 1200px) {
  .main-top ul {
    margin-left: 0px;
  }
}
@media screen and (min-device-width: 250px) and (max-device-width: 767px) {
  .main-top img {
    padding: 0px;
  }
}
