.main-top {
  background-color: #222935;
  height: auto;
  color: #b6bad3;
  font-family: 'Ubuntu', sans-serif;
}
.main-top img {
  width: auto;
  height: auto;
  padding-top: 7px;
  transition: 1.5s;
  cursor: pointer;
  padding-left: 10px;
}
.main-top img:hover {
  transform: rotate(1080deg);
}
.main-top a {
  text-decoration: none;
  color: inherit;
}
.main-top h1 {
  padding: 5px 15px;
  cursor: pointer;
}
.main-top h1:hover {
  color: #efad57;
  transform: scale(0.9, 0.9);
}
.main-top ul {
  margin-left: 252px;
  margin-bottom: 0px;
}
.main-top ul .orange:hover {
  background-color: #efad57;
  box-shadow: 10px 20px 40px 1px rgba(0, 0, 0, 0.5);
}
.main-top ul .green:hover {
  background-color: #80ca9e;
  box-shadow: 10px 20px 40px 1px rgba(0, 0, 0, 0.5);
}
.main-top ul .yellow:hover {
  background-color: #d0d946;
  box-shadow: 10px 20px 40px 1px rgba(0, 0, 0, 0.5);
}
.main-top ul .purple:hover {
  background-color: #a851ad;
  box-shadow: 10px 20px 40px 1px rgba(0, 0, 0, 0.5);
}
.main-top ul .blue:hover {
  background-color: #72c3e1;
  box-shadow: 10px 20px 40px 1px rgba(0, 0, 0, 0.5);
}
.main-top ul .red:hover {
  background-color: #da3838;
  box-shadow: 10px 20px 40px 1px rgba(0, 0, 0, 0.5);
}
.main-top ul li {
  cursor: pointer;
  margin-left: -5px;
  height: 90px;
  width: 90px;
  display: inline-block;
  transition: 1s;
  padding-bottom: 0px;
}
.main-top ul li:hover {
  color: black;
}
.main-top ul li a {
  text-decoration: none;
  color: #b6bad3;
}
.main-top ul li hr {
  margin-top: 34px;
}
.main-top ul li p {
  margin-top: 35px;
  font-size: 14px;
  font-weight: bold;
}
.social-network {
  background-color: #131a20;
  height: auto;
}
.social-network ul {
  margin: 10px;
  color: #b6bad3;
}
.social-network ul li {
  display: inline-block;
  margin: 15px 20px;
  background: rgba(153, 180, 187, 0.2);
  border-radius: 5px;
}
.social-network ul li .fa-film:hover {
  color: #80ca9e;
}
.social-network ul li .fa-rss-square:hover {
  color: #efad57;
}
.social-network ul li .fa-bar-chart:hover {
  color: #d0d946;
}
.social-network ul li .fa-cc:hover {
  color: #a851ad;
}
.social-network ul li .fa-ban:hover {
  color: #da3838;
}
.social-network ul li .fa {
  padding: 12px 15px;
  border-radius: 9px;
  color: #e9f0f2;
}
.social-network ul li .fa:hover {
  cursor: pointer;
}
.popular-films {
  background-color: #2d273f;
  height: auto;
  padding-top: 30px;
  padding-bottom: 70px;
}
.popular-films span {
  border: 2px solid;
  color: #985cb2;
  background-color: #985cb2;
  width: 15px;
  height: 30px;
  text-shadow: none;
  margin-right: 5px;
}
.popular-films h1 {
  color: #b6bdda;
  padding-bottom: 20px;
  padding-left: 5px;
  font-size: 24px;
  font-weight: bolder;
  text-shadow: 1px 1px 2px black;
}
.popular-films a {
  transition: 0.1s;
}
.popular-films a:hover {
  opacity: 0.5;
}
.popular-films a img {
  transition: 0.1s;
}
.popular-films a img:hover {
  display: block;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  width: 220px;
  transition: 0.2s;
  margin-top: 15px;
}
.popular-films p {
  transition: 1s;
  position: absolute;
  z-index: 200;
  display: none;
  font-size: 30px;
  padding-top: 150px;
  width: auto;
  margin-left: 5px;
  line-height: 400px;
  text-align: center;
  color: #fff;
}
.new-trailer {
  background-color: #131a20;
  height: auto;
  padding-bottom: 50px;
}
.new-trailer span {
  border: 2px solid;
  color: #fe173b;
  background-color: #fe173b;
  width: 15px;
  height: 30px;
  text-shadow: none;
  margin-right: 5px;
}
.new-trailer h1 {
  margin-top: 30px;
  color: #b6bdda;
  padding-bottom: 30px;
  padding-left: 5px;
  font-size: 20px;
  font-weight: bolder;
  text-shadow: 1px 1px 2px black;
}
.new-trailer .text span {
  border: 2px solid;
  color: #d0d946;
  background-color: #d0d946;
  width: 15px;
  height: 30px;
  text-shadow: none;
  margin-right: 5px;
}
.new-trailer .text ul {
  margin-top: 18px;
  border-radius: 5px;
}
.new-trailer .text ul li {
  border-radius: 5px;
  background: rgba(153, 180, 187, 0.2);
  list-style: none;
}
.new-trailer .text ul li img {
  border: 3px solid #2b3139;
  width: 75px;
  height: 85px;
  margin-left: -40px;
  padding-right: 0px;
  margin-right: 5px;
  box-shadow: 1px 3px 1px 0px rgba(0, 0, 0, 0.6);
}
.new-trailer .text ul li h5 {
  padding: 20px;
  margin: 0;
  color: #b6bdda;
  text-shadow: 1px 1px 2px black;
}
.new-trailer .text ul li .fa {
  background-color: #985cb2;
  opacity: 0.3;
  margin-top: -85px;
  margin-left: 369px;
  position: absolute;
  z-index: 200;
  padding: 22px 10px;
  border-radius: 5px;
  color: white;
}
.new-trailer .text ul li .fa:hover {
  color: white;
  opacity: 1;
  border: none;
  cursor: pointer;
}
.new-trailer .social {
  margin-top: 70px;
}
.new-trailer .social ul {
  padding: 0;
  margin: 0;
}
.new-trailer .social ul li {
  list-style: none;
}
.new-trailer .social ul .fa {
  margin: 1px 0;
}
.new-trailer .social ul .fa-vk {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: #fff;
  background-color: #5791b6;
  padding: 18px 17px;
  margin-left: 0px;
}
.new-trailer .social ul .fa-vk:hover {
  color: #5791b6;
  background-color: #fff;
  cursor: pointer;
}
.new-trailer .social ul .fa-youtube-square {
  padding: 18px 20px;
  color: #fff;
  background-color: #d02f4e;
}
.new-trailer .social ul .fa-youtube-square:hover {
  color: #d02f4e;
  background-color: #fff;
  cursor: pointer;
}
.new-trailer .social ul .fa-google-plus {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 18px 14px;
  background-color: #b1627f;
  color: #fff;
}
.new-trailer .social ul .fa-google-plus:hover {
  background-color: #fff;
  color: #b1627f;
  cursor: pointer;
}
.new-trailer .social ul .fa-facebook {
  padding: 18px 24px;
  background-color: #5c71a0;
  color: #fff;
}
.new-trailer .social ul .fa-facebook:hover {
  cursor: pointer;
  background-color: #fff;
  color: #5c71a0;
}
.new-trailer .social ul .fa-twitter {
  padding: 18px 19px;
  background-color: #0882ab;
  color: #fff;
  margin-left: 0px;
}
.new-trailer .social ul .fa-twitter:hover {
  cursor: pointer;
  background-color: #fff;
  color: #0882ab;
}
.main-movie {
  background-color: #131a20;
  height: auto;
}
.main-movie span {
  border: 2px solid;
  color: #09a8e0;
  background-color: #09a8e0;
  width: 15px;
  height: 30px;
  text-shadow: none;
  margin-right: 5px;
}
.main-movie h1 {
  color: #b6bdda;
  padding-left: 5px;
  font-size: 24px;
  font-weight: bolder;
  text-shadow: 1px 1px 2px black;
}
.main-movie .scrollingHotSpotLeft {
  min-width: 50px;
  height: 130px;
  background-color: #fff;
  opacity: 0.5;
  margin-top: 95px;
  border-radius: 10px;
}
.main-movie .scrollingHotSpotRight {
  min-width: 50px;
  height: 130px;
  background-color: #fff;
  opacity: 0.5;
  margin-top: 95px;
  border-radius: 10px;
}
.main-movie #makeMeScrollable {
  background: rgba(0, 0, 0, 0.5);
  border: 5px solid #2b3139;
  box-shadow: 7px 16px 6px 2px rgba(0, 0, 0, 0.8);
  margin-top: 40px;
}
.main-movie #makeMeScrollable a {
  margin-left: 4px;
}
.main-movie #makeMeScrollable a img {
  width: 223px;
  height: 330px;
  border-radius: 0px;
}
.main-movie #makeMeScrollable a:hover p {
  cursor: pointer;
  position: absolute;
  z-index: 99;
  margin-top: 210px;
  padding: 0;
  border-radius: 0px;
  opacity: 0.8;
  transition: .5s;
}
.main-movie #makeMeScrollable a:hover p img {
  transition: 0.5s;
}
.main-movie #makeMeScrollable a p {
  background: rgba(0, 0, 0, 0.5);
  transition: .5s;
  position: absolute;
  z-index: 200;
  font-size: 30px;
  width: auto;
  text-align: center;
  color: #fff;
}
.main-movie #makeMeScrollable a p .fa {
  position: absolute;
  z-index: 250px;
  bottom: 1px;
  color: #0875ab;
  margin-left: 70px;
  margin-top: 50px;
  opacity: 1;
}
.main-movie .way {
  margin: 30px;
}
.main-serial {
  padding-top: 20px;
  background-color: #2d273f;
  height: 700px;
}
.main-serial span {
  border: 2px solid;
  color: #d0d946;
  background-color: #d0d946;
  width: 15px;
  height: 30px;
  text-shadow: none;
  margin-right: 5px;
}
.main-serial h1 {
  color: #b6bdda;
  padding-left: 5px;
  font-size: 24px;
  font-weight: bolder;
  text-shadow: 1px 1px 2px black;
}
.main-serial .scrollingHotSpotLeft {
  min-width: 50px;
  height: 130px;
  opacity: 0.5;
  margin-top: 95px;
  border-radius: 10px;
}
.main-serial .scrollingHotSpotRight {
  min-width: 50px;
  height: 130px;
  opacity: 0.5;
  margin-top: 95px;
  border-radius: 10px;
}
.main-serial #makeMeScrollable {
  background: rgba(0, 0, 0, 0.5);
  border: 5px solid #2b3139;
  box-shadow: 7px 16px 6px 2px rgba(0, 0, 0, 0.8);
  margin-top: 40px;
}
.main-serial #makeMeScrollable a {
  margin-left: 4px;
}
.main-serial #makeMeScrollable a img {
  width: 223px;
  height: 330px;
  border-radius: 0px;
}
.main-serial #makeMeScrollable a:hover p {
  cursor: pointer;
  position: absolute;
  z-index: 99;
  margin-top: 210px;
  padding: 0;
  border-radius: 0px;
  opacity: 0.8;
  transition: .5s;
}
.main-serial #makeMeScrollable a:hover p img {
  transition: 0.5s;
}
.main-serial #makeMeScrollable a p {
  background: rgba(0, 0, 0, 0.5);
  transition: .5s;
  position: absolute;
  z-index: 200;
  font-size: 30px;
  width: auto;
  text-align: center;
  color: #fff;
}
.main-serial #makeMeScrollable a p .fa {
  position: absolute;
  z-index: 250px;
  bottom: 1px;
  color: #d0d946;
  margin-left: 70px;
  opacity: 1;
}
@media (max-width: 1200px) {
  .main-top ul {
    margin-left: 0px;
  }
}
@media screen and (min-device-width: 250px) and (max-device-width: 767px) {
  .main-top img {
    padding: 0px;
  }
}
