*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
a:link{color:#fff}
a.visited{color:#fff}
a.active{color:#fff}

.main-header{
	width: 100%;
	height: auto;
	font-family: 'Open Sans', sans-serif;
	background-color: #76c7c0;
	.header{
			h2{
				font-weight: 600;
				color: #fff;
			a{
				text-decoration: none;
				color: white;
				}
			small {
				color: #fff;
					}
			}
		.menu{
				margin-top: 20px;
			a{
				font-size: 14px;
				display: inline-block;
				text-decoration: none;
				color: #fff;
				padding: 5px 15px;
					&:hover{
						background-color: rgba(0,0,0,.3);
						box-shadow: 1px 3px 0 0 rgba(0,0,0,.5);
						border-radius: 3px;
						color: #fff;
							}
					}
			}
	}
}

.main-vestibulum{
		height: 500px;
		background-image: url(../img/bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		font-family: 'Open Sans', sans-serif;
		width: 100%;
			.vestibulum{
					width: 100%;
					background: url(../img/serifs-top.png);
					background-repeat: repeat-x;
					color: #fff;
					padding-top: 150px;
						h2{
							font-weight: bolder;
							font-size: 36px;
							letter-spacing: -2px;
							background-color: #e2534b;
							border-radius: 3px;
							height: 40px;
							}
						p{
							padding: 10px 40px;
							background-color: #3f4646;
							border-radius: 3px;
							height: 70px;
							}
			}
}

.main-body{
		width: 100%;
		height: auto;
		font-family: 'Open Sans', sans-serif;
		background-color: #f3f3f3;
		color: #7f8c8c;
			.body{
					padding-top: 50px;
						}
				.top{
					background-color: #ececec;
					height: auto;
					h2{
						color: #7f8c8c;
						padding-left: 5px;
						}
					p{
						padding-left: 5px;
						}
					button{
						padding: 10px 20px;
						color: #fff;
						margin-top: 25px;
						background-color: #e8645a;
						box-shadow: 1px 2px 0px 0px #e8645a;
						}
		}

.middle	{
		margin-top: 50px;
			.col1{
					box-shadow: 0px 1px 20px 5px rgba(0,0,0,0.1);
					background-color: white;
					height: 300px;
					border-radius: 4px;
				.fa {
						padding-top: 30px;
						color: #76c7c0;
							&:hover{
								color: #e8645a;
								}
						}
					h4{
						padding-bottom: 20px;
						font-weight: bold;
						}
					p{
						padding: 0 5px;
						}
				.btn{
					color: #fff;
					padding: 10px 60px;
					background-color: #76c7c0;
					box-shadow: 2px 3px 0px 0px #76c9c8;
						&:hover{
						box-shadow: 2px 2px 0px 0px #e8645a;
						background: #e8645a;
							}
						}
			}
		}
		
			margin-top: 100px;
			width: 100%;
			height: 350px;
			background: url(../img/serifs-middle.png);
			background-repeat: repeat-x;
			background-color: #ececec;
		h2{
				padding-top: 70px;
				font-weight: 600;
				color: #e8645a;
				}
		}
	.img{
		margin-top: 50px;
	.photo1{
		width: 250px;
		height: auto;
			}
	.photo2{
		width: 400px;
		height: auto;
			}
	.photo3{
		width: 250px;
		height: auto;
			}
	}

	.middle2{
		line-height: 28px;
			h4{
				padding-top: 50px;
				font-weight: bolder;
				padding-bottom: 40px;
					}
			li{
				list-style: none;
					}
			a{
				color: #e8645a;
					}
			p{
				padding-top: 50px;
					}
			.fa{
				color: #e8645a;
					}
				img{
					padding-top: 80px;
						}
				h5{
					font-weight: bolder;
					padding-top: 10px;
					padding-left: 10px;
					}

		.comment{
			.images{
				position: relative;
				width: 250px;
					}
				img{
					padding: 0;
					margin: 0;
						}
				p{
					font-weight: bolder;
					padding: 0;
						}
			.text p{
					position: absolute;
					top:15px;
					margin-left: 20px;
					font-size: 14px;
					font-weight: 300;
					line-height: 16px;
					}
			}

		.clients{
			h5{
				padding-top: 45px;
				font-weight: bold;
					}
			hr{
				margin-top: 65px;
				border: 1px solid lightgrey;
					}
			.fa{
				margin-top: 47px;
					&:hover{
					color: lightblue;
					opacity: .5;
						}
			}
	}

	.jquery{
			img{
				padding: 0;
				margin-top:20px;
				margin-left: 15px;
				margin-bottom: 50px;
					&:hover{
						background-color: #fff;
  					box-shadow: 0 10px 10px 5px rgba(0,0,0,.5);
							}
					}
			}
		}
	}

	.main1-footer{
			font-family: 'Open Sans', sans-serif;
			width: 100%;
			height: auto;
			background: url(../img/serifs-bottom.png);
			background-repeat: repeat-x;
			background-color: #76c7c0;
			color: white;
				.footer{
						padding-top: 40px;
					h2{
						font-weight: bolder;
						font-size: 34px;
						letter-spacing: -1px;
							small{
								color: white;
							}
						}
				.p1{
					padding-top: 20px;
					line-height: 24px;
						}
				address{
					padding-top: 10px;
							}
				i{
					padding-left: 10px;
					font-size: 18px;
							}
				h4{
					padding-top: 10px;
					color: #57928d;
					font-weight: bold;
					font-size: 22px;
					}
				ul{
						margin-top: 35px;
				li{
						list-style: none;
						padding-top: 10px;
							&:hover{
								color: #e8645a;
								}
					a{
						text-decoration: none;
						color: white;
						}
				}
			}

		.comment2{
					img{
						margin-top: 30px;
							}
					p{
							padding-top: 25px;
						}
					a{
							text-decoration: none;
							color:  #57928d;
						}
					}
			}
	}

	.main-bottom{
			width: 100%;
			height: auto;
			background-color: #6ab3ac;
			color: #fff;
				.bottom{
						p{
							margin-top: 15px;
							font-size: 16px;
							}
						ul{
							margin-top: 15px;
						li{
							margin-left: 20px;
							display: inline-block;
								&:hover{
									opacity: .8;
									// color:lightblue;
									}
							}
					}
			}
	}
// ==============================================================================
// ==============================================================================
// ==============================================================================
		
		@media (max-width:1180px){
			// .main-body{margin-top: 20px;height: auto !important;}
			.btn-default{margin-top: 30px !important;} 
			.btn-default1{margin-top: 10px !important;} 

		}
		@media (max-width:968px){
			// .col1{margin-top: 20px;}
			.main-body{height: auto !important;}
			.btn-default{margin-top: 10px !important;} 
			.btn-default1{margin-top: 10px !important;} 
			// .comment{display: none;}
		}