a:link {
  color: #fff;
}
a:visited {
  color: #fff;
}
a:active {
  color: #fff;
}
a:hover {
  color: #fff;
}
.main-logo {
  background-image: url("../img/Circles.png");
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
  width: 100%;
  height: 875px;
  font-family: 'Ubuntu', sans-serif;
  padding-top: 49px;
}
.main-logo .btn {
  padding: 8px 0px;
  background-color: #243173;
  color: #fff;
  border-radius: 20px;
  border: 1px solid;
  width: 90px;
}
.main-logo .btn:focus {
  color: #fff;
  width: 130px;
  border: 0px solid #fff;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #243173;
}
.main-logo .btn span {
  margin-left: 35px;
}
.main-logo .dropdown-menu {
  border: 1px;
  margin-left: 0px;
  width: 130px;
  height: 100px;
  padding-top: 10px;
  font-family: 'helveticaneuecyr-thin', sans-serif;
}
.main-logo .social-networking .networking ul {
  margin-top: 50px;
  color: #fff;
  list-style: none;
}
.main-logo .social-networking .networking ul a {
  color: #fff;
}
.main-logo .social-networking .networking ul li {
  display: inline-block;
  margin-left: 40px;
  width: 200px;
  border-radius: 25px;
  padding: 13px 20px;
}
.main-logo .social-networking .networking ul li:hover {
  box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.main-logo .social-networking .networking ul li .fa {
  margin-right: 20px;
}
.main-logo .text {
  margin-top: 50px;
  color: #eaebf0;
  font-size: 18px;
  line-height: 32px;
}
.main-logo .sysmobile {
  margin-top: 90px;
}
.main-logo .sysmobile .img1 img {
  margin-top: 50px;
  width: 116px;
  height: auto;
}
.main-logo .sysmobile .img2 img {
  margin-left: 20px;
  width: 130px;
  height: auto;
}
.main-logo .sysmobile .img2 img:hover {
  opacity: 0.5;
}
.main-logo .sysmobile .img3 img {
  margin-top: 50px;
  margin-left: 40px;
  width: 130px;
  height: auto;
}
.main-logo .sysmobile .img3 img:hover {
  opacity: 0.5;
}
.main-logo .mobile img {
  margin-top: -10px;
  width: 90%;
}
.main-logo .mobile .nokia {
  position: absolute;
  z-index: 1;
  left: 200px;
  width: 100%;
  top: 50px;
}
.main-logo .mobile .nokia p {
  position: relative;
  z-index: 3;
  bottom: 360px;
  right: 15px;
  text-transform: uppercase;
  font-size: 24px;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  text-align: center;
}
.main-logo .mobile .nexus {
  position: absolute;
  z-index: 2;
  width: 92%;
  left: 60px;
}
.main-logo .iphone {
  position: absolute;
  z-index: 1;
  width: 100%;
  right: 25px;
  top: 50px;
}
.main-bottom {
  position: relative;
  z-index: 5;
  top: 0;
  padding-top: 50px;
  background-color: #242f64;
  width: 100%;
  height: auto;
  font-family: 'Ubuntu', sans-serif;
}
.main-bottom .bottom h2 {
  color: #ffffff;
}
.main-bottom .skills {
  padding-top: 70px;
  color: #eaebf0;
}
.main-bottom .skills img {
  width: 170px;
  height: auto;
}
.main-bottom .skills img:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
}
.main-bottom .skills h3 {
  padding-top: 20px;
  font-weight: 500;
  letter-spacing: 1px;
}
.main-bottom .skills p {
  padding-top: 10px;
  font-size: 18px;
  margin-bottom: 55px;
}
.main-footer {
  font-family: 'Ubuntu', sans-serif;
  background-color: #303f84;
  padding: 5px;
}
.main-footer:hover {
  opacity: 0.8;
  cursor: pointer;
}
.main-footer h5 {
  color: #eaebf0;
  letter-spacing: 1px;
}
@media (max-width: 1200px) {
  .networking li {
    margin-top: 10px;
  }
  .networking .sysmobile .img3 img {
    margin-left: 0 !important;
  }
  .nokia {
    position: absolute;
    z-index: 1;
    left: 190px;
    top: 50px;
  }
  .nokia p {
    bottom: 300px !important;
  }
  .nexus {
    position: absolute;
    z-index: 2;
    left: 65px !important;
  }
  .iphone {
    position: absolute;
    z-index: 1;
    left: 10px !important;
    top: 50px;
  }
}
@media (max-width: 992px) {
  .networking li {
    margin-left: 0 !important;
  }
  .mobile {
    margin-left: 30px !important;
  }
  .mobile .nokia {
    position: absolute;
    z-index: 1;
    left: 100px !important;
    top: 50px;
  }
  .mobile .nokia p {
    bottom: 250px !important;
    font-size: 20px !important;
  }
  .mobile .nexus {
    position: absolute;
    z-index: 2;
    left: 30px !important;
  }
  .mobile .iphone {
    position: absolute;
    z-index: 1;
    left: -30px !important;
    top: 50px;
  }
}
@media (max-width: 767px) {
  .text p {
    font-size: 16px;
  }
  .sysmobile {
    margin-top: 25px !important;
  }
  .sysmobile .img1 img {
    margin-left: 90px !important;
  }
  .sysmobile .img2 img {
    margin-left: 55px !important;
  }
  .sysmobile .img3 img {
    margin-left: 110px !important;
  }
  .mobile {
    margin-left: 0 !important;
  }
  .nokia {
    position: absolute;
    z-index: 1;
    left: 190px;
    top: 30px !important;
  }
  .nokia p {
    top: -185px !important;
    font-size: 14px !important;
    margin-left: 7px;
  }
  .nexus {
    position: absolute;
    z-index: 2;
    padding-left: -10px;
  }
  .iphone {
    position: absolute;
    z-index: 1 !important;
    margin-top: -40px !important;
    top: 70px !important;
  }
}
@media (max-width: 550px) {
  .text p {
    margin-top: -25px !important;
  }
  .sysmobile .img1 img {
    margin-top: -20px !important;
    margin-left: 30px !important;
    width: 60px !important;
  }
  .sysmobile .img2 img {
    margin-top: -50px;
    width: 90px !important;
    margin-left: 20px !important;
  }
  .sysmobile .img3 img {
    margin-left: 85px !important;
    margin-top: -20px !important;
    width: 80px !important;
  }
  .sysmobile .main-mobile .nokia {
    position: absolute;
    z-index: 1;
    left: 40px !important;
    top: 75px !important;
  }
  .sysmobile .main-mobile .nokia p {
    top: -130px !important;
    right: 10px !important;
    font-size: 14px !important;
  }
  .sysmobile .main-mobile .nexus {
    position: absolute;
    z-index: 2;
    left: 5px !important;
    top: 10px;
    width: 100%;
  }
  .sysmobile .main-mobile .iphone {
    position: absolute;
    z-index: 1 !important;
    left: -20px !important;
    top: 110px !important;
  }
}
@media (max-width: 420px) {
  .text p {
    margin-top: -25px !important;
  }
  .sysmobile .img1 img {
    margin-top: -70px !important;
    margin-left: 30px !important;
    width: 60px !important;
  }
  .sysmobile .img2 img {
    margin-top: -70px;
    width: 80px !important;
    margin-left: 0 !important;
  }
  .sysmobile .img3 img {
    margin-left: 35px !important;
    margin-top: -70px !important;
    width: 80px !important;
  }
  .sysmobile .main-mobile .nokia {
    position: absolute;
    z-index: 1;
    left: 40px !important;
    top: 40px !important;
  }
  .sysmobile .main-mobile .nokia p {
    top: -100px !important;
    right: 10px !important;
    font-size: 10px !important;
    margin-left: 2px;
  }
  .sysmobile .main-mobile .nexus {
    position: absolute;
    z-index: 2;
    left: 5px !important;
    top: 0;
    width: 100%;
  }
  .sysmobile .main-mobile .iphone {
    position: absolute;
    z-index: 1 !important;
    left: -20px !important;
    top: 80px !important;
  }
}
