a:link {
  color: #fff;
}
a:visited {
  color: #fff;
}
a:active {
  color: #fff;
}
a:hover {
  color: #fff;
}
.main-logo {
  background-image: url("../img/Circles.png");
  background-size: cover;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  width: 100%;
  height: 875px;
  font-family: 'Ubuntu', sans-serif;
  padding-top: 50px;
}
.main-logo .btn {
  padding: 5px 10px;
  background-color: #243173;
  color: #fff;
  border-radius: 20px;
}
.main-logo .btn:hover {
  color: #fff;
  background-color: #243173;
}
.main-logo .btn span {
  margin-left: 30px;
}
.main-logo .social-networking .networking ul {
  margin-top: 50px;
  color: #fff;
  list-style: none;
}
.main-logo .social-networking .networking ul a {
  color: #fff;
}
.main-logo .social-networking .networking ul li {
  display: inline-block;
  margin-left: 40px;
  width: 200px;
  border-radius: 25px;
  padding: 13px 20px;
}
.main-logo .social-networking .networking ul li:hover {
  box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.main-logo .social-networking .networking ul li .fa {
  margin-right: 20px;
}
.main-logo .text {
  margin-top: 50px;
  color: #eaebf0;
  font-size: 16px;
  line-height: 32px;
}
.main-logo .sysmobile {
  margin-top: 90px;
}
.main-logo .sysmobile .img1 img {
  margin-top: 50px;
  width: 116px;
  height: auto;
}
.main-logo .sysmobile .img2 img {
  width: 130px;
  height: auto;
}
.main-logo .sysmobile .img2 img:hover {
  opacity: .5;
}
.main-logo .sysmobile .img3 img {
  margin-top: 50px;
  margin-left: 40px;
  width: 130px;
  height: auto;
}
.main-logo .sysmobile .img3 img:hover {
  opacity: .5;
}
.main-logo .mobile img {
  margin-top: -10px;
  width: 90%;
}
.main-bottom {
  position: relative;
  z-index: 5;
  top: 0;
  padding-top: 50px ;
  background-color: #242f64;
  width: 100%;
  height: auto;
  font-family: 'Ubuntu', sans-serif;
}
.main-bottom .bottom h3 {
  color: #ffffff;
}
.main-bottom .skills {
  padding-top: 70px;
  color: #eaebf0;
}
.main-bottom .skills img {
  width: 170px;
  height: auto;
}
.main-bottom .skills img:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
}
.main-bottom .skills h3 {
  padding-top: 20px;
  font-weight: 500;
  letter-spacing: 1px;
}
.main-bottom .skills p {
  padding-top: 10px;
  margin-bottom: 55px;
}
.main-footer {
  font-family: 'Ubuntu', sans-serif;
  background-color: #303f84;
  padding: 15px 15px;
}
.main-footer:hover {
  opacity: .8;
  cursor: pointer;
}
.main-footer h5 {
  color: #eaebf0;
  letter-spacing: 1px;
}
@media (max-width: 1200px) {
  .networking li {
    margin-top: 10px;
  }
  .networking .sysmobile .img3 img {
    margin-left: 0 !important;
  }
}
@media (max-width: 992px) {
  .networking li {
    margin-left: 0 !important;
  }
  .mobile img {
    margin-left: 30px !important;
  }
}
@media (max-width: 768px) {
  .sysmobile {
    margin-top: 25px !important;
  }
  .sysmobile .img1 img {
    margin-left: 30px !important;
  }
}
@media (max-width: 420px) {
  .text p {
    margin-top: -25px !important;
  }
  .sysmobile .img1 img {
    margin-top: 0px !important;
    margin-left: 30px;
    width: 80px !important;
  }
  .sysmobile .img2 img {
    margin-top: -60px;
    width: 80px !important;
  }
  .sysmobile .img3 img {
    margin-left: 25px !important;
    margin-top: 0px !important;
    width: 90px !important;
  }
}
