.main-top {
  background-color: #223343;
  height: auto;
  color: #b6bad3;
  font-family: 'Ubuntu', sans-serif;
}
.main-top img {
  width: auto;
  height: auto;
  padding-top: 7px;
  transition: 1.5s;
  cursor: pointer;
  padding-left: 10px;
}
.main-top img:hover {
  transform: rotate(1080deg);
}
.main-top a {
  text-decoration: none;
  color: inherit;
}
.main-top h1 {
  padding: 5px 15px;
  cursor: default;
}
.main-top h1:hover {
  color: #efad57;
  transform: scale(0.9, 0.9);
}
.main-top ul {
  margin-left: 252px;
  margin-bottom: 0px;
}
.main-top ul .orange:hover {
  background-color: #efad57;
  box-shadow: 10px 20px 40px 1px rgba(0, 0, 0, 0.5);
}
.main-top ul .green:hover {
  background-color: #80ca9e;
  box-shadow: 10px 20px 40px 1px rgba(0, 0, 0, 0.5);
}
.main-top ul .yellow:hover {
  background-color: #d0d946;
  box-shadow: 10px 20px 40px 1px rgba(0, 0, 0, 0.5);
}
.main-top ul .purple:hover {
  background-color: #a851ad;
  box-shadow: 10px 20px 40px 1px rgba(0, 0, 0, 0.5);
}
.main-top ul .blue:hover {
  background-color: #72c3e1;
  box-shadow: 10px 20px 40px 1px rgba(0, 0, 0, 0.5);
}
.main-top ul .red:hover {
  background-color: #da3838;
  box-shadow: 10px 20px 40px 1px rgba(0, 0, 0, 0.5);
}
.main-top ul li {
  cursor: pointer;
  margin-left: -5px;
  height: 90px;
  width: 90px;
  display: inline-block;
  transition: 1s;
  padding-bottom: 0px;
}
.main-top ul li:hover {
  color: black;
}
.main-top ul li a {
  text-decoration: none;
  color: #b6bad3;
}
.main-top ul li hr {
  margin-top: 34px;
}
.main-top ul li p {
  margin-top: 35px;
  font-size: 14px;
  font-weight: bold;
}
.social-network {
  background-color: #07131a;
  height: auto;
}
.social-network .social {
  margin: 25px;
}
.social-network .social ul {
  padding: 0;
  margin: 0;
}
.social-network .social ul li {
  display: inline-block;
  list-style: none;
}
.social-network .social ul .fa {
  border-radius: 3px;
  margin: 1px 0;
}
.social-network .social ul .fa-vk {
  color: #fff;
  background-color: #5791b6;
  padding: 18px 17px;
  margin-left: 0px;
}
.social-network .social ul .fa-vk:hover {
  color: #5791b6;
  background-color: #fff;
  cursor: pointer;
}
.social-network .social ul .fa-youtube-square {
  padding: 18px 20px;
  color: #fff;
  background-color: #d02f4e;
}
.social-network .social ul .fa-youtube-square:hover {
  color: #d02f4e;
  background-color: #fff;
  cursor: pointer;
}
.social-network .social ul .fa-google-plus {
  padding: 18px 14px;
  background-color: #b1627f;
  color: #fff;
}
.social-network .social ul .fa-google-plus:hover {
  background-color: #fff;
  color: #b1627f;
  cursor: pointer;
}
.social-network .social ul .fa-facebook {
  padding: 18px 24px;
  background-color: #5c71a0;
  color: #fff;
}
.social-network .social ul .fa-facebook:hover {
  cursor: pointer;
  background-color: #fff;
  color: #5c71a0;
}
.social-network .social ul .fa-twitter {
  padding: 18px 19px;
  background-color: #0882ab;
  color: #fff;
  margin-left: 0px;
}
.social-network .social ul .fa-twitter:hover {
  cursor: pointer;
  background-color: #fff;
  color: #0882ab;
}
.popular-films {
  background-color: #2c233e;
  height: auto;
  padding-top: 30px;
}
.popular-films span {
  border: 2px solid;
  color: #985cb2;
  background-color: #985cb2;
  width: 15px;
  height: 30px;
  text-shadow: none;
  margin-right: 5px;
}
.popular-films h1 {
  color: #b6bdda;
  cursor: move;
  padding-bottom: 20px;
  padding-left: 5px;
  font-size: 24px;
  font-weight: bolder;
  text-shadow: 1px 1px 2px black;
}
.popular-films a {
  transition: 0.1s;
}
.popular-films a:hover {
  opacity: 0.5;
}
.popular-films a img {
  transition: 0.1s;
}
.popular-films a img:hover {
  display: block;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  width: 220px;
  transition: 0.2s;
  margin-top: 15px;
}
.popular-films p {
  transition: 1s;
  position: absolute;
  z-index: 200;
  display: none;
  font-size: 30px;
  padding-top: 150px;
  width: auto;
  margin-left: 5px;
  line-height: 400px;
  text-align: center;
  color: #fff;
}
.new-trailer {
  background-color: #08131b;
  height: auto;
}
.new-trailer a {
  text-decoration: none;
}
.new-trailer a span {
  border: 2px solid;
  color: #fe173b;
  background-color: #fe173b;
  width: 15px;
  height: 30px;
  text-shadow: none;
  margin-right: 5px;
}
.new-trailer a h1 {
  margin-top: 30px;
  color: #b6bdda;
  padding-bottom: 30px;
  padding-left: 5px;
  font-size: 20px;
  font-weight: bolder;
  text-shadow: 1px 1px 2px black;
}
.new-trailer a h1:hover {
  opacity: 0.5;
}
.main-movie {
  background-color: #08131b;
  height: auto;
}
.main-movie a {
  text-decoration: none;
}
.main-movie a span {
  border: 2px solid;
  color: #09a8e0;
  background-color: #09a8e0;
  width: 15px;
  height: 30px;
  text-shadow: none;
  margin-right: 5px;
}
.main-movie a h1 {
  margin-top: 60px;
  color: #b6bdda;
  padding-left: 5px;
  font-size: 24px;
  font-weight: bolder;
  text-shadow: 1px 1px 2px black;
}
.main-movie a h1:hover {
  opacity: 0.5;
}
.main-movie .way {
  margin: 30px;
}
.main-serial {
  background-color: #08131b;
  height: auto;
}
.main-serial a {
  text-decoration: none;
}
.main-serial a span {
  border: 2px solid;
  color: #ff780c;
  background-color: #ff780c;
  width: 15px;
  height: 30px;
  text-shadow: none;
  margin-right: 5px;
}
.main-serial a h1 {
  color: #b6bdda;
  padding-left: 5px;
  font-size: 24px;
  font-weight: bolder;
  text-shadow: 1px 1px 2px black;
}
.main-serial .way2 {
  margin: 30px;
}
.main-serial .way2 a:hover {
  opacity: 0.5;
}
.main-tvshow {
  padding-top: 20px;
  background-color: #08131b;
  height: 500px;
}
.main-tvshow a {
  text-decoration: none;
}
.main-tvshow a span {
  border: 2px solid;
  color: #00cf6b;
  background-color: #00cf6b;
  width: 15px;
  height: 30px;
  text-shadow: none;
  margin-right: 5px;
}
.main-tvshow a h1 {
  color: #b6bdda;
  padding-left: 5px;
  font-size: 24px;
  font-weight: bolder;
  text-shadow: 1px 1px 2px black;
}
.main-tvshow .way3 {
  margin: 30px;
}
.main-tvshow .way3 a:hover {
  opacity: 0.5;
}
.main-footer {
  background-color: #223343;
  height: auto;
  padding-top: 20px;
  border: 1px solid;
  padding-bottom: 30px;
}
.main-footer img {
  width: auto;
  height: auto;
  padding-top: 7px;
  transition: 1.5s;
  cursor: pointer;
  padding-left: 10px;
}
.main-footer img:hover {
  transform: rotate(1080deg);
}
.main-footer a {
  text-decoration: none;
  color: #b6bad3;
}
.main-footer h1 {
  padding: 5px 15px;
  cursor: pointer;
}
.main-footer h1:hover {
  transform: scale(0.9, 0.9);
}
.main-footer h1 a {
  text-decoration: none;
  color: #b6bad3;
}
.main-footer h1 a:hover {
  color: #efad57;
}
.main-footer ul {
  color: #b6bad3;
  padding: 5px;
}
.main-footer ul li {
  display: inline-block;
  border: 1px solid;
  padding: 5px 20px;
  border-radius: 3px;
  margin: 3px;
  opacity: 0.5;
}
.main-footer ul li:hover {
  cursor: pointer;
  opacity: 0.2;
}
.main-footer .banner {
  color: #b6bad3;
  border: 1px solid;
  height: 100px;
}
.main-footer .banner p {
  margin-top: 35px;
}
@media (max-width: 1200px) {
  .main-top ul {
    margin-left: 0px;
  }
}
@media (max-width: 991px) {
  .social {
    margin-top: 40px !important;
  }
  .social ul {
    padding: 0;
    margin: 0;
  }
  .social ul li {
    display: inline-block;
  }
  .social ul .fa {
    border-radius: 50px;
  }
  .social ul .fa-vk {
    border-top-right-radius: 50px !important;
    border-top-left-radius: 50px !important;
  }
  .social ul .fa-google-plus {
    border-bottom-right-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
  }
  .banner {
    display: none;
  }
}
@media screen and (min-device-width: 250px) and (max-device-width: 767px) {
  .main-top img {
    padding: 0px;
  }
}
