.main-header {
  position: relative;
  z-index: 2;
  width: 100%;
  background: url("../img/headerbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 695px;
}
.main-header .header {
  color: #fff;
  height: 300px;
}
.main-header .header h1 {
  padding-top: 70px;
  font-size: 65px;
  font-family: "blackjack";
}
.main-header .header p {
  font-family: "ProximaNova Light";
  font-size: 30px;
  letter-spacing: 2px;
}
.main-header .header h5 {
  font-family: "ProximaNova Light";
  font-size: 22px;
  border: 1px solid #fff;
  padding: 15px 0;
}
.main-header .header h5:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
  color: #474e5d;
  border-color: #474e5d;
}
.main-header .header h5 .fa {
  padding-left: 10px;
}
.page-middle {
  width: 100%;
  z-index: 3;
  position: absolute;
  background: url("../img/bgtablet.png");
  background-size: cover;
  height: 650px;
}
.page-middle .middle {
  padding-left: 50px;
  margin-top: 150px;
  color: #545454;
  font-family: "ProximaNova Light";
}
.page-middle .middle h2 {
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0;
}
.page-middle .middle p {
  padding-top: 10px;
  max-width: 450px;
  font-weight: 600;
}
.page-middle .middle img {
  padding-top: 10px;
  height: 70px;
  float: left;
}
.page-middle .middle .text {
  font-family: "ProximaNova RegularIt";
  padding-left: 15px;
  font-weight: 300;
}
.page-middle .middle h4 {
  font-weight: bolder;
  color: #14af8f;
  font-size: 14px;
  padding: 10px 15px;
  border: 2px solid #14af8f;
  margin-top: 50px;
}
.page-middle .middle h4:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
  color: #4eacdd;
  border-color: #4eacdd;
}
.page-middle .middle h4 .fa {
  padding-left: 10px;
}
.main-body {
  position: relative;
  z-index: 4;
  width: 100%;
  height: 650px;
  margin-top: 600px;
  color: #545454;
}
.main-body .row {
  position: relative;
}
.main-body h2 {
  font-family: "ProximaNova Light";
  padding-top: 120px;
  font-size: 34px;
  font-weight: bolder;
  margin-bottom: 30px;
}
.main-body p {
  max-width: 350px;
}
.main-body h4 {
  font-weight: bolder;
  color: #ea4c89;
  font-size: 14px;
  margin: 30px;
  padding: 15px;
  border: 2px solid #ea4c89;
  margin-top: 50px;
}
.main-body h4:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
}
.main-body h4 .fa {
  padding-left: 10px;
}
.main-body img {
  position: absolute;
  right: 500px;
  top: 290px;
}
.page-green {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 350px;
  background: url("../img/footer.png");
  background-size: cover;
  color: #fff;
}
.page-green h1 {
  padding-top: 80px;
  font-size: 45px;
  font-family: "ProximaNova Regular";
}
.page-green h4 {
  color: #fff;
  font-size: 14px;
  margin: 70px;
  padding: 15px;
  border: 2px solid #fff;
  margin-top: 50px;
}
.page-green h4:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
}
.page-green h4 .fa {
  padding-left: 10px;
}
.main-footer {
  position: relative;
  z-index: 5;
  width: 100%;
  height: 600px;
  background: #f4f4f4;
}
.main-footer .footer ul {
  list-style: none;
}
.main-footer .footer ul li {
  display: inline-block;
  padding-left: 50px;
}
.main-footer .footer .img {
  display: inline-block;
  position: relative;
  margin: 195px 0 50px;
}
.main-footer .footer .img:hover {
  opacity: 0.3;
  cursor: pointer;
}
.main-footer .footer .img i {
  position: absolute;
  left: 18px;
  top: 17px;
}
.main-footer .footer p {
  padding-top: 5px;
  padding-left: 40px;
  font-size: 20px;
  font-family: "ProximaNova SemiboldIt";
}
.main-footer .footer input {
  border-radius: 10px;
  padding: 15px;
}
.main-footer .footer button {
  border-radius: 11px;
}
.footer2 {
  width: 100%;
  height: 100px;
  background: #fff;
}
.footer2 h3 {
  padding-top: 20px;
  font-family: "ProximaNova Regular";
  font-size: 18px;
}
.footer2 h3 a {
  text-decoration: none;
}
.footer2 .arrow {
  padding-top: 31px;
}
.footer2 .arrow a {
  color: #a4a4a4;
}
.footer2 .arrow a:hover {
  opacity: 0.6;
}
