body {
        background: lightgrey;
        // background-color: #223f55;
    }

#menu_pop {
 margin: 20px 20px 0 10px;
 width: 220px;

 
}

#accordion {
 list-style: none;
 padding: 0px;
 margin: 0px;
}

#accordion .button_podtext {
 font-size: 9px;
 color: #b1b1b1;
}

#accordion div {
 display: block;
 cursor: pointer;
 text-decoration: none;
 padding: 10px 0px 10px 15px;
 // background: #000;
 background-color: #223f50;
 color: #fff;
 font-size: 12px;
 font-family: tahoma;
 // background: url('images/bg.png') 0px 0px;
 text-shadow: 0px 1px 0px rgba( 0, 0, 0, 0.6);
 list-style: circle;
 margin-bottom: 1px;
 
}

#accordion div:hover {
 // background: url('images/bg.png') 0px -44px;
 background-color: #087580;
 cursor: crosshair;
 // box-shadow: 5px 0px 0px 0px white;

}
.rang:hover{
 box-shadow: 5px 0px 0px 0px #fe173b;
}
.comm:hover{
 box-shadow: 5px 0px 0px 0px #ff780c;
}
.see:hover{
 box-shadow: 5px 0px 0px 0px #00cf6b;
}

#accordion ul a {
 color: #777;
 color: #fff;
}

#accordion ul {
 list-style: none;
 padding: 5px;
 font-size: 10px;
 font-family: Tahoma;
 // background: #1a1a1a;
 background-color: #223f55;
 box-shadow: inset 0px 3px 6px rgba( 0, 0, 0, 0.7);
 display: none;
}

#accordion ul li {
 font-weight: normal;
 cursor: auto;
 padding: 3px 7px;

}

#accordion a {
 text-decoration: none;
}

#accordion a:hover {
 text-decoration: underline;
}

.qwe li {
height: 100px;
}
.qwe li img{
	width: 65px;
	height: 85px;
	border: 1px solid white;
	margin-right: 10px;
	float: left;
}
.qwe li h3{
	display: inline-block;
	box-sizing: border-box;
	// border: 1px solid white;
	font-size: 15px;
	width: 100px;
	margin-top: 5px;
	// margin: 5px 10px;
	// margin-top: 10px;
	clear: both;
}
.qwe li h4{
	width: 50px;
	float: left;
	font-size: 14px;
	padding-left: 5px;
	margin-left: 0px;
	// border: 1px solid white;
	margin-top: 20px;
}


