
.nestedsidemenu {
    margin: 0;
    padding: 0;
    border: 3px solid #e6e6e6;
    // font: bold 18px 'Bitter', sans-serif;
    position: relative;
    // padding-bottom: 70px;
    font-weight: 600;
    width: 100%;
    height: 342px;
}
/* Top Level Menu */
.nestedsidemenu ul {
    z-index: 100;
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
}

/* Top level list items */
.nestedsidemenu ul li {
    position: relative;
}

/* Top level menu items link style */
.nestedsidemenu ul li a, .nestedsidemenu ul li span {
    display: block;
    position: relative;
    text-decoration: none;
    padding: 10px 25px;
    text-decoration: none;

}
.nestedsidemenu ul li a:link, .nestedsidemenu ul li a:visited {
    color: #964415;
    font-size: 18px;
}

/* Top level menu items link style on hover and when active */
.nestedsidemenu ul li:hover > a {
-moz-box-shadow: inset 7px 0 10px rgba(114,114,114, 0.6); /* Add inset shadow to each menu item. First 3 values in (114,114,114, 0.5) specifies rgb values, last specifies opacity */
-webkit-box-shadow: inset 7px 0 10px rgba(114,114,114, 0.6);
box-shadow: inset 150px 0px 40px rgba(114,114,114, 0.8);
-moz-transition: all 0.2s ease-in-out; /* Enable CSS transition between property changes */
-webkit-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
color: #fff;
}

/* Sub ULs style */
.nestedsidemenu ul li ul {
    position: absolute;
    left: -5000px;
    top: 0;
    opacity: 0;
    width: 150%;
    visibility: hidden;
    box-shadow: 2px 2px 5px gray;
    -webkit-transition: opacity .3s, visibility 0s .3s, left 0s .3s;
    transition: opacity .3s, visibility 0s .3s, left 0s .3s;
}

/* First Sub Levels UL style on hover */
.nestedsidemenu ul li:hover > ul {
    visibility: visible;
    left: 100%;
    opacity: 1;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    // color: #fff;
}

/* Sub level Menu list items (alters style from Top level List Items) */
.nestedsidemenu ul li ul li {
    display: list-item;
    float: none;
}

/* 2nd and beyond Sub Levels vertical offset after 1st level sub menu */
.nestedsidemenu ul li ul li ul {
    top: 0;
    left: 100%;
}

/* Sub Levels link style on hover and when active */
.nestedsidemenu ul ul li:hover > a {
    // background: #52616a;
}

/* Sub Levels UL style on hover */
.nestedsidemenu ul ul li:hover > ul {
    left: 100%;
}

/* Sub level menu links style */
.nestedsidemenu ul li ul li a {
    font: normal 14px 'Bitter', sans-serif;
    padding: 10px;
    margin: 0;
    background: #6d686f;
    border-right: none;
    border-top-width: 0;
}

/* LIs with a sub UL style */
.nestedsidemenu ul li > a {
    /* add padding to accomodate arrow inside LIs */
    padding-right: 25px;
}

/* LIs with NO sub UL style */
.nestedsidemenu ul li > a:only-child {
    /* undo padding for non submenu LIs */
    padding-right: 10px;
}

/* LIs with a sub UL pseudo class */
.nestedsidemenu ul li > a:hover:after {
    /* add arrow inside LIs */
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-left-color: #6d686f;
    top: 35%;
    right: 1px;
}


/* LIs with NO sub UL pseudo class */
.nestedsidemenu ul li > a:only-child:after {
    /* undo arrow for non submenu LIs */
    display: none;
}


/* ####### responsive layout CSS ####### */

@media (max-width: 923px) {
    /* FIRST breaking point
            Last top menu items' sub ULs should drop to the left (instead of right)
            Change 1 to a different number to exclude/include more top menu items based on menu and max-width setting above
        */

        .nestedsidemenu ul li:nth-last-of-type(-n+1) ul li:hover > ul {
        left: -100%;
    }
}

@media (max-width: 500px) {
    /* SECOND breaking point 
            For mobile and screen browser windows
            Get Sub ULs to expand entire width of document and drop down
            Changes menu reveal type from "visibility" to "display" to overcome bug. See comments below
        */
    .nestedsidemenu{
        width: 100%;
    }
    
    .nestedsidemenu ul li > a:after {
        /* add arrow inside LIs */
        content: "";
        position: absolute;
        height: 0;
        width: 0;
        border: 5px solid transparent;
        border-left-color: transparent;
        border-top-color: #fff;
        top: 40%;
        right: 8px;
    }

    .nestedsidemenu ul li {
        position: static;
    }

    .nestedsidemenu ul li ul {
        width: 100%;
        border-top: 2px solid rgba(0,0,0,.6);
        /* change menu reveal type from "visibility" to "display". Former seems to cause browser to jump to top of page sometimes when menu header is tapped on */
        display: none;
    }

    .nestedsidemenu ul li:hover > ul {
        display: block;
        left: 0 !important;
        top: auto;
        box-shadow: 0 0 12px gray;
    }
}
@media screen and (min-device-width:1100px)
       and (max-device-width: 1350px)
     {
        .nestedsidemenu{
    width: 470% !important;
    height: 50px;
    border: none;
        }
        .nestedsidemenu ul li{
    display: inline-block;
}
     }
     @media screen and (min-device-width:890px)
       and (max-device-width: 1100px)
     {
        .nestedsidemenu{
            width: 470% !important;
            height: 50px;
            border: none;
        }
        .nestedsidemenu ul li{
    display: inline-block;
}
.nestedsidemenu ul li a, .nestedsidemenu ul li span {
    display: block;
    position: relative;
    text-decoration: none;
    padding: 10px 10px;
    text-decoration: none;

}
     }
          @media screen and (min-device-width:800px)
       and (max-device-width: 890px)
     {
        .nestedsidemenu{
            width: 550% !important;
            height: 50px;
            border: none;
        }
        .nestedsidemenu ul li{
    display: inline-block;
}
.nestedsidemenu ul li a, .nestedsidemenu ul li span {
    display: block;
    position: relative;
    text-decoration: none;
    padding: 10px 7px;
    text-decoration: none;

}
     }
               @media screen and (min-device-width:650px)
       and (max-device-width: 800px)
     {
        .nestedsidemenu{
            width: 400% !important;
            height: 100px;
            border: none;
        }
        .nestedsidemenu ul li{
    display: inline-block;
}
.nestedsidemenu ul li a, .nestedsidemenu ul li span {
    display: block;
    position: relative;
    text-decoration: none;
    padding: 10px 7px;
    text-decoration: none;

}
     }
 @media screen and (min-device-width:500px)
       and (max-device-width: 650px)
     {
        .nestedsidemenu{
            width: 400% !important;
            height: 100px;
            border: none;
        }
        .nestedsidemenu ul li{
    display: inline-block;
}
.nestedsidemenu ul li a, .nestedsidemenu ul li span {
    display: block;
    position: relative;
    text-decoration: none;
    padding: 10px 7px;
    text-decoration: none;

}
     }
      @media screen and (min-device-width:250px)
       and (max-device-width: 500px)
     {
        .nestedsidemenu{
            width: 400% !important;
            height: 150px;
            border: none;
        }
        .nestedsidemenu ul li{
    display: inline-block;
}
.nestedsidemenu ul li a, .nestedsidemenu ul li span {
    display: block;
    position: relative;
    text-decoration: none;
    padding: 10px 7px;
    text-decoration: none;

}
     }